# CONFIG_RK_SFC_NAND is not set
# CONFIG_ROCKCHIP_MTD_VENDOR_STORAGE is not set
# CONFIG_ROCKCHIP_SCHED_PERFORMANCE_BIAS is not set
# CONFIG_ROCKCHIP_VENDOR_STORAGE_UPDATE_LOADER is not set
CONFIG_ARCH_ROCKCHIP_ODROIDM1=y
CONFIG_CAN=y
CONFIG_CANFD_ROCKCHIP=y
CONFIG_CAN_MCP251X=y
CONFIG_CAN_ROCKCHIP=y
CONFIG_DEVMEM=y
CONFIG_DRM_PANEL_ILITEK_ILI9881C=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_TOUCHSCREEN_DWAV_USB_MT=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_VIDEO_IMX219=y
CONFIG_VIDEO_IMX477=y
