// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Hardkernel Co., Ltd.
 *
 */

#include "rk3568-odroid-m1.dtsi"
#include "rk3568-android.dtsi"

/ {
	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
		serial0 = &uart1;
		serial1 = &uart0;
		i2c0 = &i2c3;
		i2c3 = &i2c0;
	};
};
