// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Hardkernel Co., Ltd.
 *
 */

#include "rk3566-odroid-m1s.dtsi"
#include "rk3568-android.dtsi"

/ {
	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc0;
		serial0 = &uart6;
		serial1 = &uart0;
		serial3 = &uart7;
		serial6 = &uart1;
		serial7 = &uart3;
		i2c0 = &i2c3;
		i2c3 = &i2c0;
		spi0 = &spi1;
		spi1 = &spi0;
	};
};

&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&dmc {
	status = "disabled";
};

&dmc_fsp {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m1_xfer>;
};

&i2c3 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m1_xfer>;
};

&pwm1 {
	status = "disabled";
	pinctrl-0 = <&pwm1m1_pins>;
};

&pwm2 {
	status = "disabled";
	pinctrl-0 = <&pwm2m1_pins>;
};

&spi1 {
	status = "disabled";

	pinctrl-0 = <&spi1m1_pins>;
	pinctrl-1 = <&spi1m1_pins_hs>;
	num_chipselect = <1>;

	cs-gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
};

&uart6 {
	status = "disabled";
	dma-names = "tx", "rx";
	/* uart6 uart6-with-ctsrts */
	pinctrl-0 = <&uart6m0_xfer>;
	pinctrl-1 = <&uart6m0_xfer &uart6m0_ctsn &uart6m0_rtsn>;
};

&uart7 {
	status = "disabled";
};
